@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:ital@0,1&family=Oswald:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    button {
        background: none;
        cursor: pointer;
    }
}

:root{
    --primary: #1976D2;
    --body: #fff;
    --text-menu: #fff;
    --text-body: #4B4B4B;
    --hr-height: #4B4B4B;
}

:root .dark-theme{
    --primary: #0D47A1;
    --body: #4B4B4B;
    --text-menu: #fff;
    --text-body: #FFF;
    --hr-height: #fff;
}

body {
    background-color: var(--body);
}

.container {
    width: 600px;
    margin: 0 auto;
    margin-top: 10%;

    h1 {
        font-weight: 700;
        font-size: 25px;
        margin: 50px 0 10px;
    }
    hr {
        height: 1px;
        background: var(--hr-height);
    }
    
    p {
        font-weight: 400;
        line-height: 1.3rem;
        font-size: 16px;
        margin-top: 0.5rem;
        text-align: justify;
    }
    
    h1, p {
        color: var(--text-body);
    }
}

@media (max-width: 611px) {
    .container {
      width: 100%;
      padding: 0 20px;
      margin-top: 5%;
    }
  
    h1 {
      font-size: 20px;
      margin: 40px 0 10px;
    }
  
    p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      margin-top: 2%;
    }
  
    h1 {
      font-size: 18px;
      margin: 30px 0 10px;
    }
  
    p {
      font-size: 12px;
    }
  }
  
  @media (max-width: 320px) {
    .container {
      margin-top: 1%;
    }
  
    h1 {
      font-size: 16px;
      margin: 20px 0 10px;
    }
  
    p {
      font-size: 10px;
    }
  }